


h1{
    font-size: 2.2rem;
}


h2{
    font-size: 1.8rem;
}

main, section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 6rem;
}
.temporary {
    border-top: solid black;
}
.scoreList, .topBar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.starter-header {
    display: contents;
}

.finalScreen {
    flex-direction: column;
}

.highNoot {
    display: none;
}

.answer-list {
    display: none;
    list-style-type: none;
}
.submitB {
    display: none;
}

.lastB {
    flex-direction: row;
}
