body {
    width: 100%;
    font-size: 1.4rem;
}


h1{
    font-size: 2.2rem;
}


h2{
    font-size: 1.8rem;
}

 main ,section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem;
}

button {
    background-color: #3e295b;
    color: white;
}
.temporary {
    width: 100%;
    text-align: left;
    border-top: 2px solid grey;
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}
.scoreList, .topBar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.starter-header {
    display: contents;
}

.finalScreen {
    flex-direction: column;
}

.highNoot {
    display: none;
}

.answer-list {
    display: none;
    list-style-type: none;
    margin-bottom: 2px;
}
.submitB {
    display: none;
}

.lastB {
    flex-direction: row;
}
